# Introduction to `pandas`

We import the `pandas` package as `pd` (A typical "abbreviation." 
See the book _Pandas for Data Analysis_ by Wes McKinney.)

In [1]:
import pandas as pd

The `pandas` packages has two main datatypes. One data type is `Series`.

In [2]:
series = pd.Series(['BMW', 'Toyota', 'Honda'])
series

0       BMW
1    Toyota
2     Honda
dtype: object

Series are **one-dimensional**

Create a second `Series` for later use.

In [3]:
colors = pd.Series(['Red', 'Blue', 'White'])
colors

0      Red
1     Blue
2    White
dtype: object

Data frames are **two-dimensional**

Data frames are much more common than series during analysis.

In [4]:
car_data = pd.DataFrame({'Car make': series, 'Color': colors})
car_data

  Car make  Color
0      BMW    Red
1   Toyota   Blue
2    Honda  White

One can import a data from `.csv` file

In [5]:
car_sales = pd.read_csv('./car-sales.csv')
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

## "Anatomy" of a dataframe

- Left-most column, when printed, is the index. (0-9) above
- Rows (axis=0)
- Columns (axis=1)
- See [Anatomy of a Dataframe](./Anatomy of a Dataframe.png)

Even though we've not changed the car sales data, we export it to
demonstrate the `pandas` export functionality.

In [6]:
car_sales.to_csv('exported_car_sales.csv')

As an alternative, we could export the file in Excel format using
car_sales.to_excel('exported_car_sales.xlsx'). However, this functionality
requires the module `openpyxl`.

Reading a previously exported `.csv` exhibits surprising behavior.

In [ ]:
exported_car_sales = pd.read_csv('exported_car_sales.csv')
exported_car_sales

That is, reading a `pandas` data frame from a .`csv` file created by
exporting a `DataFrame` previously as a `.csv` file "adds" a 
"additional" column name "Unnamed: 0". 

This behaviour is simply because of the way we originally 
**exported** the `DataFrame`.

The `DataFrame.to_csv()` method accepts a parameter, `index`.
`index` is a boolean parameter: if its value is truthy, the
default, `pandas` will include the `Index` in the export.
However, if `index` is falsy, the export will **not**
contain the data frame `Index`.

In [ ]:
# Including the optional parameter, `index`, with a falsy value
# instructs `to_csv()` to **not** export the `Index` of the 
# data frame, (I suspect the same parameter could be used 
# for a `pandas` `Series`, but I could be wrong. :) )

# Consequently, reading the exported data **will not** have
# the "mystery" column (named something like "Unnamed: 0".
car_sales.to_csv('exported_car_sales.csv', index=False)
exported_car_sales = pd.read_csv('exported_car_sales.csv')
exported_car_sales

## Selecting and Viewing Data with Pandas Part 1

### Describe data

#### DataFrame Attributes

In [ ]:
# An attribute (basically reads data)
car_sales.dtypes

# A function executes code.
# car_sales.to_csv()

In [ ]:
# Another attribute: the columns of the data frame
car_sales.columns

A `pandas` `Index` is basically a list of values of a specified type

In [ ]:
car_columns = car_sales.columns
car_columns

In [ ]:
car_columns[0], car_columns[2:-1]

In [ ]:
# What about an `index` property
car_sales.index

In [ ]:
car_sales

#### DataFrame functions

In [ ]:
# Summary statistics about **numeric** fields
car_sales.describe()

Note that the `price` column is of `dtype` `object` (not a number). 
Because the `price` column is a **non-numeric** column (neither 
`int` nor `float`, it is **not** included in the summary statistics
calculated by `describe()`.

In [ ]:
car_sales.info()

The function `DataFrame.info()` provides a summary of the **data** of
each column in the `DataFrame`.

In [ ]:
try:
    car_sales.mean() # Average of **numeric** columns
except:
    print('Hmmm. Apparently a change in behavior from the videos.')

In [ ]:
car_sales[['Odometer (KM)', 'Doors']].mean()

The function `mean()` also works on appropriate instances
of `DataFrame.Series`.

In [ ]:
# Pretending our car prices are of dtype `int` and not of dtype `object`
car_prices = pd.Series([3000, 1500, 111250])
car_prices.mean()

We can try calling the `sum()` function on the entire `car_sales` 
`DataFrame`. We have the same "luck" as we did with `mean()`

In [ ]:
try:
    car_sales.mean()
except:
    print('Same issues as `car_sales.sum()`')

And we use the same "solution".

In [ ]:
car_sales[['Odometer (KM)', 'Doors']].mean()

The `pandas` package provides "typical" statistical functions
for numeric columns.

In [ ]:
# Extract the column of interest (simply so we need not type it
# all the time.
mileages = car_sales['Odometer (KM)']
mileages.mean(), mileages.median(), mileages.mode()

The `len` function returns the number of rows in our data frame.

In [ ]:
len(car_sales)

## Selecting and Viewing Data with Pandas (Part 2)

We can use operators to select rows of a `DataFrame`.

In [ ]:
# Select all cars sold with more than 100,000 miles
car_sales[car_sales['Odometer (KM)'] > 100000]

In [ ]:
# Compute a "cross-tab" between two columns
pd.crosstab(car_sales['Make'], car_sales['Doors'])

What if we want a "cross tab" between more than two columns.
The `group_by()` function to the rescue.

In [ ]:
# Again, we appear to have the "mean of a non-numeric column" issue.
try:
    car_sales.groupby(['Make']).mean()
except:
    print('mean() applied to non-numeric columns again.')

In [ ]:
car_sales.groupby(['Make'])

In [ ]:
car_sales.groupby(['Make'])[['Odometer (KM)', 'Doors']].mean()

In [ ]:
car_sales[(car_sales['Make'] == 'Toyota') & (car_sales['Colour'] == 'White')][['Odometer (KM)', 'Doors']].mean()

### Simple plotting

If the following code **does not** display a plot, one may need to
execute the following cell (which is commented out).

In [ ]:
car_sales['Odometer (KM)'].plot()