In [ ]:
# Start by importing pandas
import pandas as pd

In [ ]:
# Two main data types
series = pd.Series(["BMW", "Toyota", "Honda"])

In [ ]:
series

In [ ]:
# Series are **one-dimensional**

In [ ]:
colors = pd.Series(["Red", "Blue", "White"])
colors

In [ ]:
# DataFrame is **two-dimensional**
# Far more common than `Series`
car_data = pd.DataFrame({"Car make": series, "Color": colors})

In [ ]:
# Far more typical to **import** data
car_sales = pd.read_csv('car-sales.csv')

In [ ]:
# Remember, this file contains a **small** amount of data
car_sales

In [ ]:
# Exporting a DataFrame
# (Even though it is **unchanged**.)
# Can also export to Excel (`to_excel()`) (or other fomats).
# Adding the parameter, `index=False`, prevents pandas from exporting the index column.
car_sales.to_csv('exported-car-sales.csv', index=False)

In [ ]:
exported_car_sales = pd.read_csv('exported-car-sales.csv')
exported_car_sales

## Describe data

In [ ]:
# Attribute (no function call)
# Queries the data types for our data frame
car_sales.dtypes

# Function
# car_sales.to_csv() (Notice function operator `())

In [ ]:
car_sales.columns

In [ ]:
car_columns = car_sales.columns
car_columns

In [ ]:
# A mistake
try:
    car_columns.index
except Exception as e:
    print(f'An error occurred: {e}')

In [ ]:
car_sales.index

In [ ]:
car_sales

In [ ]:
# We've looked at attributes. Now let's call some functions.
car_sales.describe()

In [ ]:
car_sales.info()

In [ ]:
# The behavior of `mean()` has apparently changed since the video was released. 
# In the video, `car_sales.mean()` only returned the arithmetic mean of **numeric**
# columns. Currently, this function **fails** because of the non-numeric columns.
try:
    car_sales.mean()
except Exception as e:
    print(f'`mean()` no longer handles non-numeric columns\n  {e}')

In [ ]:
# To "restore" the behavior in the video, execute
car_sales.mean(numeric_only=True)

In [ ]:
# Invoking `mean()` on a `Series`
car_prices = pd.Series([3000, 1500, 111250])
car_prices.mean()

In [ ]:
car_sales.sum()

In [ ]:
car_sales['Odometer (KM)'].sum()

In [ ]:
car_sales['Doors'].sum()

In [ ]:
car_sales['Doors'].mean()

In [ ]:
car_sales['Doors'].max()

In [ ]:
len(car_sales)