In [ ]:
# Start by importing pandas
import pandas as pd

In [ ]:
# Two main data types
series = pd.Series(["BMW", "Toyota", "Honda"])

In [ ]:
series

In [ ]:
# Series are **one-dimensional**

In [ ]:
colors = pd.Series(["Red", "Blue", "White"])
colors

In [ ]:
# DataFrame is **two-dimensional**
# Far more common than `Series`
car_data = pd.DataFrame({"Car make": series, "Color": colors})

In [ ]:
# Far more typical to **import** data
car_sales = pd.read_csv('car-sales.csv')

In [ ]:
# Remember, this file contains a **small** amount of data
car_sales

In [ ]:
# Exporting a DataFrame
# (Even though it is **unchanged**.)
# Can also export to Excel (`to_excel()`) (or other fomats).
# Adding the parameter, `index=False`, prevents pandas from exporting the index column.
car_sales.to_csv('exported-car-sales.csv', index=False)

In [ ]:
exported_car_sales = pd.read_csv('exported-car-sales.csv')
exported_car_sales

## Describe data

In [ ]:
# Attribute (no function call)
# Queries the data types for our data frame
car_sales.dtypes

# Function
# car_sales.to_csv() (Notice function operator `())

In [ ]:
car_sales.columns

In [ ]:
car_columns = car_sales.columns
car_columns

In [ ]:
# A mistake
try:
    car_columns.index
except Exception as e:
    print(f'An error occurred: {e}')

In [ ]:
car_sales.index

In [ ]:
car_sales

In [ ]:
# We've looked at attributes. Now let's call some functions.
car_sales.describe()

In [ ]:
car_sales.info()

In [ ]:
# The behavior of `mean()` has apparently changed since the video was released. 
# In the video, `car_sales.mean()` only returned the arithmetic mean of **numeric**
# columns. Currently, this function **fails** because of the non-numeric columns.
try:
    car_sales.mean()
except Exception as e:
    print(f'`mean()` no longer handles non-numeric columns\n  {e}')

In [ ]:
# To "restore" the behavior in the video, execute
car_sales.mean(numeric_only=True)

In [ ]:
# Invoking `mean()` on a `Series`
car_prices = pd.Series([3000, 1500, 111250])
car_prices.mean()

In [ ]:
car_sales.sum()

In [ ]:
car_sales['Odometer (KM)'].sum()

In [ ]:
car_sales['Doors'].sum()

In [ ]:
car_sales['Doors'].mean()

In [ ]:
car_sales['Doors'].max()

In [ ]:
len(car_sales)

## Viewing and selecting data

In [ ]:
# Displays the first five (5) rows of a `DataFrame` (the default value)
car_sales.head()

In [ ]:
car_sales

In [ ]:
# Displays the first **7** rows of the `DataFrame`
car_sales.head(7)

In [ ]:
# Displays the **last** five (5) rows of a `DataFrame`
car_sales.tail()

In [ ]:
# Similarly, supplying an argument changes the number of rows displayed.
car_sales.tail(3)

In [ ]:
# .loc and .iloc
animals = pd.Series(['cat', 'dog', 'bird', 'panda', 'snake'])
animals

In [ ]:
# One can also create a `Series` with a **custom** index
animals = pd.Series(['cat', 'dog', 'bird', 'panda', 'snake'],
                    index=[0, 3, 9, 8, 3]);
animals

In [ ]:
# Returns the items in `animals` with an index value of 3
animals.loc[3]
# Because `animals` has an Index containing the 
# number three (3) **twice**, this expression returns the
# two items of the `Series` whose index value equals 3.

In [ ]:
animals.loc[9]
# Because the specified index identifies exactyl one item,
# this expression returns a single value (not a `Series`).

In [ ]:
# What if we want to get rows of a `DataFrame`?
car_sales

In [ ]:
# Returns the "row" item at index 3.
car_sales.loc[3]

In [ ]:
# `.iloc` refers to **position** of item in the `Series` or `DataFrame`.
# `.loc` refers to the **index** of the `Series` or `DataFrame`.
animals.iloc[3]

In [ ]:
car_sales.iloc[3]

In [ ]:
# Since the `Index` of `car_sales` has not been changed since
# we created the `DataFrame`, calling `loc[3]` will return the
# same item as calling `iloc[3]`.
car_sales.loc[3]

In [ ]:
# Give us the animals whose integer indices are 0, 1, and 2;
# that is, the slice `[:3]`
animals.iloc[:3]

In [ ]:
car_sales.loc[:3]

In [ ]:
car_sales.iloc[:3]

In [ ]:
# BEWARE, `loc[:3]` and `iloc[:3]` have **different** semantics!
car_sales.loc[:3] is not car_sales.iloc[:3]

In [ ]:
# But, `car_sales.loc[:3] == car_sales.head(4)`
car_sales.loc[:3] == car_sales.head(4)

In [ ]:
# Using array indexing with a **column name** selects
# all the items in a single column.
car_sales['Make']

In [ ]:
# Also
car_sales['Colour']

In [ ]:
# An alternative to using the array operator to select
# a column is the dot operator (`.`) followed by the name
# of the column
car_sales.Make

In [ ]:
car_sales['Make'] == car_sales.Make

In [ ]:
# Using array indexing works for **any** column name even
# if it is **not** a valid Python identifier
car_sales['Odometer (KM)']

In [ ]:
# However, using the dot (`.`) operator only works if the 
# column name is also a **valid Python identifier**. 
# For example,
try:
    car_sales.Odometer (KM)
except Exception as e:
    print(e)

In [ ]:
# One can **filter** `DataFrame` rows by **value**. For example,
car_sales[car_sales['Make'] == 'Toyota']
# The expression, `car_sales['Make'] == 'Toyota'` is called
# "Boolean indexing"

In [ ]:
# One can also use other operators in Boolean indexing. 
# For example,
car_sales[car_sales['Odometer (KM)'] > 100000]

In [ ]:
car_sales

In [ ]:
# Compares the number of doors available for each car make
pd.crosstab(car_sales['Make'], car_sales['Doors'])

In [ ]:
# The `groupby()` method groups the values of a specified
# `DataFrame` column according to common values.
#
# Remember, the `mean()` function is one of the functions
# whose semantics about handling non-numeric values has 
# changed since the videos came out.
car_sales.groupby(['Make']).mean(numeric_only=True)

In [ ]:
# Plot all the values in a single column of a `DataFrame`.
# This command actually plots the values of the specified 
# column on the y-axis against the values in the index 
# on the x-axis.
car_sales['Odometer (KM)'].plot()

In [ ]:
car_sales['Odometer (KM)'].hist()

In [ ]:
# Attempting to plot the 'Price' column fails because the
# 'Price' column is **not** numeric (in this `DataFrame`).
try:
    car_sales['Price'].plot()
except TypeError as te:
    print(te)

In [ ]:
# The following expression returns `dtype('O'). This data 
# type is the **object** data type (not a numeric type).
car_sales['Price'].dtype

In [ ]:
# Go by (from StackOverflow)
# dataframe['amount'] = dataframe['amount'].str.replace('[\$\,\.]', '').astype(int)
car_sales['NumericPrice'] =  (
    car_sales['Price']
    .str
    .replace('[$,.]', '',  regex=True).astype(int) // 100
)
car_sales['NumericPrice']
# Again, notice changes for my version of `pandas`. I change 
# the first argument by removing backslashes ('\')

## Manipulating Data

In [ ]:
# Python (and pandas) have a number of string methods
car_sales['Make'].str.lower()

# Remember that this expression returns a **new** `Series`
# whose items are the lower case values of the `Make`
# column in the **original** `DataFrame`

In [ ]:
car_sales

In [ ]:
# Notice that `car_sales` is unchanged by our previous code. 
# This behavior is **typical** of `DataFrame` instances. To
# change the column in the original `DataFrame` instance, one
# must assign the transformed value **back** to the original 
# `DataFrame` column.
car_sales['Make'] = car_sales['Make'].str.lower()
car_sales

In [ ]:
# Remove the Price column; rename 'NumericPrice'
car_sales['Price'] = car_sales['NumericPrice']
car_sales.drop(columns=['NumericPrice'], inplace=True)
car_sales

In [ ]:
car_sales_missing = pd.read_csv('car-sales-missing-data.csv')
car_sales_missing

In [ ]:
# One sometimes chooses to fill missing (`NaN`) values with
# other values in the `DataFrame` (column). For example, one
# might fill missing values in the "Odometer" column with the
# `mean()` (of all the values that are **not** `NaN`).
car_sales_missing['Odometer'].fillna(car_sales_missing['Odometer'].mean())

In [ ]:
# Let's look at the `DataFrame` itself
car_sales_missing

In [ ]:
# Notice that the original data **still** contains `NaN`
# values in the 'Odometer' column. We could simply assign 
# the result of our expressing using `fillna()` back to
# `car_sales_missing['Odometer']`; however, we will actually
# us the `inplace=True` parameter instead.
car_sales_missing['Odometer'].fillna(car_sales_missing['Odometer'].mean(), inplace=True)

In [ ]:
# Apparently, we have found a **change** in `pandas` future
# behavior. The code works, but will fail in a future release.
car_sales_missing

In [ ]:
# FYI. The author recommends using an **explicit** assignment;
# that is, 
car_sales_missing['Odometer'] = (
    car_sales_missing['Odometer'].fillna(car_sales_missing['Odometer'].mean())
)
car_sales_missing

In [ ]:
# Suppose we are happy with our handling of `NaN` values
# for the "Odometer" column, but we actuall want to 
# **ignore** all missing values in all other columns.

# To accomplish this goal, we can use the `dropna()` 
# method of the `DataFrame`. However, again, this
# method **does not** drop values **in place**.
car_sales_missing.dropna()

In [ ]:
car_sales_missing

In [ ]:
car_sales_missing.dropna(inplace=True)

In [ ]:
car_sales_missing

In [ ]:
# But what if we want to access our original data?
car_sales_missing = pd.read_csv('car-sales-missing-data.csv')
car_sales_missing

In [ ]:
car_sales_missing['Odometer'] = (
    car_sales_missing['Odometer'].fillna(car_sales_missing['Odometer'].mean())
)
car_sales_missing

In [ ]:
car_sales_missing_dropped = car_sales_missing.dropna()
car_sales_missing_dropped

In [ ]:
car_sales_missing_dropped.to_csv('car_sales_missing_dropped.csv')

In [ ]:
car_sales

In [ ]:
# Column from series
seats_column = pd.Series([5, 5, 5, 5, 5])

# Add a new column by assinging data to a non-existent but named column
car_sales['Seats'] = seats_column
car_sales

In [ ]:
# H2 fill in the `NaN` values in the 'Seats' column
car_sales['Seats'] = car_sales['Seats'].fillna(5.0)
car_sales

In [ ]:
# Column from Python `list`
fuel_economy = [7.5, 9.2, 5.0, 9.6, 8.7]

try:
    car_sales['Fuel per 100km'] = fuel_economy
except ValueError as ve:
    print(ve)

In [ ]:
len(car_sales)

In [ ]:
# Column from Python `list` (that has the same length as `DataFrame` rows)
fuel_economy = [7.5, 9.2, 5.0, 9.6, 8.7, 4.7, 7.6, 8.7, 3.0, 4.5]
len(fuel_economy)

In [ ]:
len(car_sales) == len(fuel_economy)

In [ ]:
car_sales['Fuel per 100km'] = fuel_economy
car_sales

In [ ]:
# Suppose I wanted to add a column whose values are 
# calculated from the values of other `DataFrame`
# columns. Specifically, let's add a column for total
# fuel consumed over the lifetime of the car.
car_sales['Total Fuel Used'] = (
    (car_sales['Odometer (KM)'] / 100) * car_sales['Fuel per 100km']
)
car_sales

In [ ]:
# Oops! I forgot to specify the units for fuel used.
car_sales['Total Fuel Used (L)'] = (
    (car_sales['Odometer (KM)'] / 100) * car_sales['Fuel per 100km']
)
car_sales

In [ ]:
# Create a column from a single value
car_sales['Number of Wheels'] = 4
car_sales

In [ ]:
car_sales['Passed Road Safety'] = True
car_sales

In [ ]:
# Notice the different types of columns
car_sales.dtypes

In [ ]:
# I do not need **both** the "Total Fuel Used..." columns
car_sales = car_sales.drop('Total Fuel Used', axis=1)
car_sales

In [ ]:
# Shuffle some fraction of the data for sampling.
car_sales.sample(frac=1)

In [ ]:
# This call shuffled the requested fraction, but returned
# a "temporary" object. The folliwng code assigns the 
# shuffled code in a new variable for later use.
car_sales_shuffled = car_sales.sample(frac=1)
car_sales_shuffled

In [ ]:
# Only select 20% of the data to work on right now.
# The 20% is arbitrary. As an engineer, you will need to
# judge the amount of data your need to trade-off time
# of operations and the goal you are trying to achieve.
car_sales_shuffled.sample(frac=0.2)

In [ ]:
car_sales_shuffled.reset_index()
car_sales_shuffled

In [ ]:
car_sales

In [ ]:
# How to apply a function to a `DataFrame`
# The conversion from mi to km is "about" 1.6.
car_sales['Odometer (mi)'] = car_sales['Odometer (KM)'].apply(lambda x: x / 1.6)
car_sales