In [ ]:
# Start by importing pandas
import pandas as pd

In [ ]:
# Two main data types
series = pd.Series(["BMW", "Toyota", "Honda"])

In [ ]:
series

In [ ]:
# Series are **one-dimensional**

In [ ]:
colors = pd.Series(["Red", "Blue", "White"])
colors

In [ ]:
# DataFrame is **two-dimensional**
# Far more common than `Series`
car_data = pd.DataFrame({"Car make": series, "Color": colors})

In [ ]:
# Far more typical to **import** data
car_sales = pd.read_csv('car-sales.csv')

In [ ]:
# Remember, this file contains a **small** amount of data
car_sales

In [ ]:
# Exporting a DataFrame
# (Even though it is **unchanged**.)
# Can also export to Excel (`to_excel()`) (or other fomats).
# Adding the parameter, `index=False`, prevents pandas from exporting the index column.
car_sales.to_csv('exported-car-sales.csv', index=False)

In [ ]:
exported_car_sales = pd.read_csv('exported-car-sales.csv')
exported_car_sales

## Describe data

In [ ]:
# Attribute (no function call)
# Queries the data types for our data frame
car_sales.dtypes

# Function
# car_sales.to_csv() (Notice function operator `())

In [ ]:
car_sales.columns

In [ ]:
car_columns = car_sales.columns
car_columns

In [ ]:
# A mistake
try:
    car_columns.index
except Exception as e:
    print(f'An error occurred: {e}')

In [ ]:
car_sales.index

In [ ]:
car_sales

In [ ]:
# We've looked at attributes. Now let's call some functions.
car_sales.describe()

In [ ]:
car_sales.info()

In [ ]:
# The behavior of `mean()` has apparently changed since the video was released. 
# In the video, `car_sales.mean()` only returned the arithmetic mean of **numeric**
# columns. Currently, this function **fails** because of the non-numeric columns.
try:
    car_sales.mean()
except Exception as e:
    print(f'`mean()` no longer handles non-numeric columns\n  {e}')

In [ ]:
# To "restore" the behavior in the video, execute
car_sales.mean(numeric_only=True)

In [ ]:
# Invoking `mean()` on a `Series`
car_prices = pd.Series([3000, 1500, 111250])
car_prices.mean()

In [ ]:
car_sales.sum()

In [ ]:
car_sales['Odometer (KM)'].sum()

In [ ]:
car_sales['Doors'].sum()

In [ ]:
car_sales['Doors'].mean()

In [ ]:
car_sales['Doors'].max()

In [ ]:
len(car_sales)

## Viewing and selecting data

In [ ]:
# Displays the first five (5) rows of a `DataFrame` (the default value)
car_sales.head()

In [ ]:
car_sales

In [ ]:
# Displays the first **7** rows of the `DataFrame`
car_sales.head(7)

In [ ]:
# Displays the **last** five (5) rows of a `DataFrame`
car_sales.tail()

In [ ]:
# Similarly, supplying an argument changes the number of rows displayed.
car_sales.tail(3)

In [ ]:
# .loc and .iloc
animals = pd.Series(['cat', 'dog', 'bird', 'panda', 'snake'])
animals

In [ ]:
# One can also create a `Series` with a **custom** index
animals = pd.Series(['cat', 'dog', 'bird', 'panda', 'snake'],
                    index=[0, 3, 9, 8, 3]);
animals

In [ ]:
# Returns the items in `animals` with an index value of 3
animals.loc[3]
# Because `animals` has an Index containing the 
# number three (3) **twice**, this expression returns the
# two items of the `Series` whose index value equals 3.

In [ ]:
animals.loc[9]
# Because the specified index identifies exactyl one item,
# this expression returns a single value (not a `Series`).

In [ ]:
# What if we want to get rows of a `DataFrame`?
car_sales

In [ ]:
# Returns the "row" item at index 3.
car_sales.loc[3]

In [ ]:
# `.iloc` refers to **position** of item in the `Series` or `DataFrame`.
# `.loc` refers to the **index** of the `Series` or `DataFrame`.
animals.iloc[3]

In [ ]:
car_sales.iloc[3]

In [ ]:
# Since the `Index` of `car_sales` has not been changed since
# we created the `DataFrame`, calling `loc[3]` will return the
# same item as calling `iloc[3]`.
car_sales.loc[3]

In [ ]:
# Give us the animals whose integer indices are 0, 1, and 2;
# that is, the slice `[:3]`
animals.iloc[:3]

In [ ]:
car_sales.loc[:3]

In [ ]:
car_sales.iloc[:3]

In [ ]:
# BEWARE, `loc[:3]` and `iloc[:3]` have **different** semantics!
car_sales.loc[:3] is not car_sales.iloc[:3]

In [ ]:
# But, `car_sales.loc[:3] == car_sales.head(4)`
car_sales.loc[:3] == car_sales.head(4)

In [ ]:
# Using array indexing with a **column name** selects
# all the items in a single column.
car_sales['Make']

In [ ]:
# Also
car_sales['Colour']

In [ ]:
# An alternative to using the array operator to select
# a column is the dot operator (`.`) followed by the name
# of the column
car_sales.Make

In [ ]:
car_sales['Make'] == car_sales.Make

In [ ]:
# Using array indexing works for **any** column name even
# if it is **not** a valid Python identifier
car_sales['Odometer (KM)']

In [ ]:
# However, using the dot (`.`) operator only works if the 
# column name is also a **valid Python identifier**. 
# For example,
try:
    car_sales.Odometer (KM)
except Exception as e:
    print(e)

In [ ]:
# One can **filter** `DataFrame` rows by **value**. For example,
car_sales[car_sales['Make'] == 'Toyota']
# The expression, `car_sales['Make'] == 'Toyota'` is called
# "Boolean indexing"

In [ ]:
# One can also use other operators in Boolean indexing. 
# For example,
car_sales[car_sales['Odometer (KM)'] > 100000]

In [ ]:
car_sales

In [ ]:
# Compares the number of doors available for each car make
pd.crosstab(car_sales['Make'], car_sales['Doors'])

In [ ]:
# The `groupby()` method groups the values of a specified
# `DataFrame` column according to common values.
#
# Remember, the `mean()` function is one of the functions
# whose semantics about handling non-numeric values has 
# changed since the videos came out.
car_sales.groupby(['Make']).mean(numeric_only=True)

In [ ]:
# Plot all the values in a single column of a `DataFrame`.
# This command actually plots the values of the specified 
# column on the y-axis against the values in the index 
# on the x-axis.
car_sales['Odometer (KM)'].plot()

In [ ]:
car_sales['Odometer (KM)'].hist()

In [ ]:
# Attempting to plot the 'Price' column fails because the
# 'Price' column is **not** numeric (in this `DataFrame`).
try:
    car_sales['Price'].plot()
except TypeError as te:
    print(te)

In [ ]:
# The following expression returns `dtype('O'). This data 
# type is the **object** data type (not a numeric type).
car_sales['Price'].dtype

In [ ]:
# Go by (from StackOverflow)
# dataframe['amount'] = dataframe['amount'].str.replace('[\$\,\.]', '').astype(int)
car_sales['NumericPrice'] =  (
    car_sales['Price']
    .str
    .replace('[$,.]', '',  regex=True).astype(int) // 100
)
car_sales['NumericPrice']
# Again, notice changes for my version of `pandas`. I change 
# the first argument by removing backslashes ('\')